@import 'tailwindcss';

.font-Poppins {
    font-family: 'Poppins', sans-serif;
}

.font-Inter {
    font-family: 'Inter', sans-serif;
}


/* LogoLoop.css */
.logo-marquee, .aboutDesc {

    -webkit-mask-image: linear-gradient(to right,
            transparent 0%,
            white 30%,
            white 70%,
            transparent 100%);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;

    mask-image: linear-gradient(to right,
            transparent 0%,
            white 30%,
            white 70%,
            transparent 100%);
    mask-repeat: no-repeat;
    mask-size: cover;
}

.logo-track {
    display: flex;
    width: max-content;
    animation: marquee 20s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}